<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<h1><a class="btn btn-info" href="/" role="button">INDEX </a></h1>

<form action="/MascotaActualizar" method="POST">
    <input type="hidden" name="idMascota" th:value="${mascota.idMascota}">


    <b>Nombre_Mascota:</b>
    <input type="text" name="nombreMascota" th:value="${mascota.nombreMascota}"/>

    <b>edad_Mascota:</b>
    <input type="text" name="edadMascota" th:value="${mascota.edadMascota}"/>

    <b>Especie_Mascota:</b>
    <input type="text" name="especie" th:value="${mascota.especie}"/>



    <label th:text="Propietario"></label><br/>
    <select th:field="*{mascota.propietario}" th:value="${mascota.propietario.nombre}">
        <option th:each="prop :${propietarios}" th:value="${prop.id}" th:text="${prop.nombre}">

        </option>
    </select><br/>
    <input type="submit" value="Guardar"/>
</form>
</body>
</html>