<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<h1><a class="btn btn-info" href="/" role="button">INDEX </a></h1>

<div>
    <form action="filterEspecie" method="post">

        <label>Especie</label>
        <select name="catAux">
            <option th:each="muni :${especies}" th:value="${muni}" th:text="${muni}">
            </option>
            <option th:value="Todo" th:text="Todo"/>
        </select><br/>
        <input type="submit" value="Buscar">
        <!--     <input type="text" name="catAux"> -->
    </form>
</div>
<div>
    <form action="filterPropietario" method="post">

        <label>CLUB</label>
        <select name="propAux">
            <option th:each="muni :${propietarios}" th:value="${muni.id}" th:text="${muni.nombre}">
            </option>
        </select><br/>
        <input type="submit" value="Buscar">
        <!--     <input type="text" name="catAux"> -->
    </form>
</div>
<table>
    <tr>
        <td><b>Id_Mascota</b></td>
        <td><b>Nombre_Mascota</b></td>
        <td><b>edad_Mascota</b></td>
        <td><b>Especie_Mascota</b></td>
        <td><b>Propietario</b></td>
        <td><b>Vacunas</b></td>

    </tr>

    <tr th:each="mascota: ${listarMascotas}">
        <td th:text="${mascota.idMascota}"></td>
        <td th:text="${mascota.nombreMascota}"></td>
        <td th:text="${mascota.edadMascota}"></td>
        <td th:text="${mascota.especie}"></td>
        <td th:text="${mascota.propietario.nombre}"></td>
        <td>
            <table>
                <tr>
                    <th:block th:each="vac,iter: ${mascota.vacunas}">
                        <!--<label th:text="${vac.idVacuna}">ID</label>-->
                        <label th:text="${vac.nombreVacuna}"> </label>
                        <th:block th:if="${!iter.last}">, </th:block>
                    </th:block>
                </tr>
            </table>
        </td>

        <td>
            <a class="btn btn-info"  th:href="@{/editMascota/}+${mascota.idMascota}">EDITAR</a>
            <a class="btn btn-info"  th:href="@{/elimMascota/}+${mascota.idMascota}">ELIMINAR</a>
            <a class="btn btn-info"  th:href="@{/mascotaVacuna/}+${mascota.idMascota}">SELECCIONAR VACUNAS</a>

        </td>
    </tr>



</table>

</body>
</html>