<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<h1><a class="btn btn-info" href="/" role="button">INDEX </a></h1>


<div>

    <b>Nombre_Mascota: </b>
    <p th:text="${mascota.nombreMascota}"></p>
    <b>Edad: </b>
    <p th:text="${mascota.edadMascota}"></p>
    <b>Especie: </b>
    <p th:text="${mascota.especie}"></p>


</div>
<form action="/vacunaMascota" method="POST">
    <input type="hidden" name="idMascota" th:value="${mascota.idMascota}"/>
    <input type="hidden" name="nombreMascota" th:value="${mascota.nombreMascota}"/>
    <input type="hidden" name="edadMascota" th:value="${mascota.edadMascota}"/>
    <input type="hidden" name="especie" th:value="${mascota.especie}"/>


    <div>
        <label th:text="Vacunas"></label><br/>
        <select th:field="${mascota.vacunas}" multiple="multiple">
            <option th:each="vacuna :${vacunas}" th:value="${vacuna.idVacuna}" th:text="${vacuna.nombreVacuna}">
            </option>
        </select><br/>

    </div>
    <h1><input   type="submit" name="GuardarVacunas" class="btn btn-info" /></h1>
</form>
</body>
</html>