<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<h1><a class="btn btn-info" href="/" role="button">INDEX </a></h1>


<!--
<form action="filter" method="post">

    <label>CLUB</label>
    <select name="clubAux">
        <option th:each="muni :${clubs}" th:value="${muni.idClub}" th:text="${muni.nombreClub}">
        </option>
    </select><br/>
    <input type="submit" value="Buscar">

</form>-->
<table>

    <tr>
        <td>Id</td>
        <td>Nombre</td>
        <td>edad</td>

    </tr>

    <tr th:each="listar: ${propietarios}">
        <td th:text="${listar.id}"></td>
        <td th:text="${listar.nombre}"></td>
        <td th:text="${listar.edad}"></td>



        <td>
            <a th:href="@{/editPropietario/}+${listar.id}">EDITAR</a>
            <a th:href="@{/elimPropietario/}+${listar.id}">ELIMINAR</a>
        </td>
    </tr>



</table>
</body>
</html>