<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<h1><a class="btn btn-info" href="/" role="button">INDEX </a></h1>

<table>
    <tr>
        <td><b>Id_Vacuna</b></td>
        <td><b>Nombre_Vacuna</b></td>
        <td><b>enfermedad_que_cura</b></td>



    </tr>

    <tr th:each="listar: ${listarVacunas}">
        <td th:text="${listar.idVacuna}"></td>
        <td th:text="${listar.nombreVacuna}"></td>
        <td th:text="${listar.enfermedad}"></td>


        <td>

            <a class="btn btn-info"  th:href="@{/editVacuna/}+${listar.idVacuna}">EDITAR</a>
            <a class="btn btn-info"  th:href="@{/elimVacuna/}+${listar.idVacuna}">ELIMINAR</a>
        </td>
    </tr>



</table>
</body>
</html>